# Binaries
*.exe
*.exe.local
*.dll
*.so
*.dylib
bin/
dist/

# Test binaries
*.test
*.out

# Go dependency/cache directories
# (usually not checked in, but go.mod/go.sum are)
vendor/

# Node/npm
node_modules/

# IDEs and editors
#.vscode/

# System Files
Thumbs.db
ehthumbs.db
Desktop.ini

# Local configs (optional but good practice to ignore custom runtime configurations)
config.local.json
